// Global
$primary:   			#5991a4;

$grey: 					#777;
$grey-blue: 			#617082;
$lighter-grey:			#e1e1e1;
$lightest-grey:			#f3f3f3;

// Header
$header-bg-color: 		$primary;
$header-font-color: 	#FFF;

// Sidebar
$sidebar-bg-color: 		$lightest-grey;
$sidebar-font-color: 	$grey-blue;

// Fonts
$font-primary:			'Roboto', sans-serif;
$font-primary-color: 	$grey-blue;

// Pixels
$sidebar-width:			230px;